*{
    background-color: blueviolet;
}
h1{
    text-align: center;
}
table, th, td {
    border: 3px solid black;
    border-collapse: collapse;
    height: 70px;
    width: 350px;
    margin: auto;    
}