h1{
    text-align: center;
}
h2{
    text-align: center;
}
table, th, td {
    border: 3px solid black;
    border-collapse: collapse;
    height: 70px;
    width: 350px;
    margin: auto;    
}
#play_btn{
    font-size: large;
    margin: auto;
    border-radius: 5px;
    padding: 7px 30px;
    display: block;
}